body {
  margin: 0;
}

.main-container {
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.calculator {
  display: flex;
  flex-direction:column;
}

.orange {
  background-color: #F5913E;
}

.touch-pad {
  display: grid;
  padding-top:10px;
  grid-template-columns: repeat(4,95px);
  grid-template-rows: minmax(30px,auto) repeat(5,80px);
}